<header>
  <a class="btn-github" href="https://github.com/codeideas/poke-list">Github</a>
  <div class="header-title">Poke List</div>
</header>

<main class="pokemon-list">
  <a class="pokemon-list-item" ng-href="#/{{pokemon.name}}" ng-repeat="pokemon in pokemons">{{pokemon.name}}</a>
</main>

<nav>
  <ul>
    <li><a class="btn-navigation" ng-href="#/list/{{previousPage}}" ng-if="previousPage">Previous</a></li>
    <li><a class="btn-navigation" ng-href="#/list/{{nextPage}}" ng-if="nextPage < 18">Next</a></li>
  </ul>
</nav>
