<header>
  <div class="pokemon-name">{{name}}</div>

  <div class="pokemon-type-list">
    <span class="pokemon-type pokemon-type-{{type.type.name}}" ng-repeat="type in types | orderBy:'slot'">
      {{type.type.name}}
    </span>
  </div>

  <div class="pokemon-id" ng-if="id">#{{id}}</div>
</header>

<main class="pokemon">
  <div class="pokemon-thumbs">
    <img alt="{{name}}" ng-src="{{thumb1}}">
    <img alt="{{name}}" ng-src="{{thumb2}}">
  </div>

  <ul class="pokemon-stat-list">
    <li class="pokemon-stat" ng-repeat="stat in stats">
      <span class="pokemon-stat-name">{{stat.stat.name | nameStat}}:</span>
      <span class="pokemon-stat-bar">
        <span class="pokemon-stat-value" style="width:{{stat.base_stat * 2}}px">{{stat.base_stat}}</span>
      </span>
    </li>
  </ul>
</main>

<nav>
  <a class="btn-navigation" href="javascript:history.back()">Back</a>
</nav>
